.main-bg {
    background-image: url('/assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 64px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}